services:
  mongodb:
    image: mongo
    container_name: mongo_db
    ports:
      - "27018:27017"
    volumes:
      - mongo:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=jameofit
      - MONGO_INITDB_ROOT_PASSWORD=jameofit
  mongo-express:
    image: mongo-express
    container_name: mongo_express
    restart: always
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_ADMIN_USERNAME=jameofit
      - ME_CONFIG_MONGODB_ADMIN_PASSWORD=jameofit
      - ME_CONFIG_MONGODB_SERVER=mongodb
volumes:
  mongo: {}